* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/* background: whitesmoke; */
	background: black;
	color: white;
	font-family: 'Ubuntu Mono';
}

.heading {
	text-align: center;
	font-weight: bold;
	padding: 40px 0;
}

