* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: whitesmoke;
	color: black;
	/* background: black; */
	/* color: white; */
	font-family: 'Ubuntu Mono';
	line-height: 1.6;
}

.heading {
	text-align: center;
	font-weight: bold;
	padding: 40px 0;
}

li {
	margin-left: 65px;
}

