{% extends "_layout.html" %}

{% block title %}{{ book.isbn }}{% endblock %}

{% block heading %}{{ book.title }}{% endblock %}

{% block body %}
	<h3>Written by {{ book.author }}</h3>
	<h3>Publication Year: {{ book.year }}</h3>
	<h3>ISBN number: {{ book.isbn }}</h3>
	<br/>

	<h2>Data from <i>Goodreads</i>:</h2>
	<h3>Number of ratings: {{ number_of_ratings }}</h3>
	<h3>Average rating: {{ average_rating }}</h3>
	<br/>

	<h2>Your Review:</h2>
	{% if render_form %}
		<form action="#" method="post">
			<label for="rating">Rating: </label>
			<select name="rating" id="rating" required>
				<option value=""></option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select>
			<br/>
			<br/>

			<textarea rows="5" cols="70" placeholder="What did you think of the book?" name="review" required>
			</textarea>
			<br/>

			<button>Submit</button>
		</form>
	{% else %}
		<p>You already submitted a review.</p>
		<br/>
	{% endif %}

	<h2>Reviews by other users:</h2>
	{% if not user_reviews %}
		<p>There are no reviews available for this book.</p>
	{% else %}
		{% for user in user_reviews %}
			<p><strong>{{ user.username }}</strong> rated it <em>{{ user.rating }} stars</em> and wrote:</p>
			<blockquote>{{ user.reviews }}</blockquote>
			<br/>
		{% endfor %}
	{% endif %}

	<hr/>
	<br/>
	<p>Click <a href="{{ url_for('search') }}">here</a> to go back to the search page.</p>

{% endblock %}

